body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(180deg, #6a1b9a 0%, #4a148c 100%); 
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 60px; 
    height: auto; 
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 0.8rem;
    margin-top: auto; 
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

footer nav ul li {
    margin-left: 15px;
}

footer nav ul li a {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color: #fff;
}

.copyright {
    opacity: 0.7;
    padding-right: 0px; 
    margin-left: 400px;
    text-align: left;
}

footer .container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px 20px;
}

/* Remove Test and CTA Sections */
.tests-section, .cta-banner {
    display: none;
}

/* Mobile and responsive adjustments */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer nav ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    footer nav ul li {
        margin-left: 0;
        margin-bottom: 5px;
    }
}
